@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Using Absolute Positioning</h1>
<h2>1 Using position: relative, absolute and top, left offset values</h2>
<div class="outer way-1">
      <div class="inner"></div>
</div>

<h2>2 Using relative and absolute, top, left, right and bottom offset values and margin: auto</h2>
<div class="outer way-2">
      <div class="inner"></div>
</div>

<h1>Using Flexbox Model</h1>
<h2>3 Using flexbox, justify-content, and align-item</h2>
<div class="outer way-3">
      <div class="inner"></div>
</div>

<h2>4 Using flexbox, justify-content, and align-self</h2>
<div class="outer way-4">
      <div class="inner"></div>
</div>

<h2>5 Using flexbox and margin: auto</h2>
<div class="outer way-5">
      <div class="inner"></div>
</div>

<h1>Using Grid Model</h1>
<h2>6 Using grid, justify-content and align-items</h2>
<div class="outer way-6">
      <div class="inner"></div>
</div>

<h2>7 Using grid and place-items</h2>
<div class="outer way-7">
      <div class="inner"></div>
</div>

<h2>8 Using grid, align-self and justify-self</h2>
<div class="outer way-8">
      <div class="inner"></div>
</div>

<h2>9 Using grid and place-self</h2>
<div class="outer way-9">
      <div class="inner"></div>
</div>

<h2>10 Using grid and margin: auto</h2>
<div class="outer way-10">
      <div class="inner"></div>
</div>






<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
